.menu {
  list-style: none;
  margin: 10px;
  justify-content: center;
  display: flex;
  background-color: blanchedalmond;
}
.menu li {
  font-weight: bold;
  font-size: x-large;
  margin: 10px 10px;
  padding: 10px 10px;
}
.menu .icon {
  max-width: 50px;
  max-height: 67px;
  position: absolute;
  left: 15px;
}
.titulo {
  text-align: center;
  padding: 10px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.redes-sociales {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.redes-sociales li {
  margin: 0 10px;
}

.redes-sociales a {
  color: white;
  text-decoration: none;
}

.redes-sociales a:hover {
  text-decoration: underline;
}

.general {
  background-color: cadetblue;
  text-align: center;
}
.general ol {
  list-style-position: inside;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.main-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.content {
  flex: 2;
  flex-wrap: wrap;
}
.tarjeta {
  padding: 20px;
  background-color: rgb(158, 240, 240);
  box-shadow: 0 0 10px #ce1010;
  border-radius: 10px;
  max-width: calc(16% - 20px);
  min-width: 200px;
  margin-left: auto;
}
